<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Market Simulator</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'stock_market_sim_static/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'stock_market_sim_static/skeleton.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript">
    $(document).ready(function(){
      $(".datepicker" ).datepicker();
      
      $('form').submit(function(e){
        e.preventDefault();

        $.ajax({
          url: "/symbol_lookup",
          method: 'Post',
          data: $(this).serialize(),
          success: function(data){ $('#data').html(data) },
          dataType: 'html'
        })
      })
    })
  </script>

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Get Historic Stock Data</h1>
        <form action="{% url 'stock_market_sim_app:post_symbol' %}", method="POST">
          {% csrf_token %}
          <p>Stock Symbol: <input type="text" name="symbol"></p>
          <p>Start Date: <input type="text" class="datepicker" name="start"></p>
          <p>EndDate: <input type="text" class="datepicker" name="end"></p>
          <p><input type="submit" value="Go!"></p>
        </form>
        <p id="data"></p>
      </div>
    </div>
  </div>
</body>
</html>
