<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stock Market Simulator</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'stock_market_sim_static/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'stock_market_sim_static/skeleton.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".datepicker" ).datepicker();

      $('form').submit(function(e){
        e.preventDefault();

        $.ajax({
          url: "/symbol_lookup",
          method: 'Post',
          data: $(this).serialize(),
          success: function(data){
            var keys = []
            var close = []
            var volume = []
            var open = []
            var high = []
            var low = []
            for(val in data){
              keys.push(val)
            }
            keys.sort()
            for(var x = 0; x < keys.length; x++){
              high.push(parseInt(data[keys[x]]["High"]))
              low.push(parseInt(data[keys[x]]["High"]))
              close.push(parseInt(data[keys[x]]["Close"]))
              volume.push(parseInt(data[keys[x]]["Volume"]))
              open.push(parseInt(data[keys[x]]["Open"]))
              $('#test').append("<p>" + keys[x] + " : " + JSON.stringify(data[keys[x]], null, 2)+"</p>")
            }
            var trace1 = {
              x: keys,
              y: volume,
              name: 'Daily Volume Traded',
              type: 'scatter'
            };

            var data = [trace1];

            var layout = {
              title: 'Daily Volume Traded',
              yaxis: {title: 'Daily Volume Traded'},
            };

            Plotly.newPlot('myDiv', data, layout);


            var trace1 = {

              x: keys,

              close: close,

              decreasing: {line: {color: '#7F7F7F'}},

              high: high,

              increasing: {line: {color: '#17BECF'}},

              line: {color: 'rgba(31,119,180,1)'},

              low: low,

              open: open,

              type: 'ohlc',
              xaxis: 'x',
              yaxis: 'y'
            };

            var data = [trace1];

            var layout = {
              dragmode: 'zoom',
              margin: {
                r: 10,
                t: 25,
                b: 40,
                l: 60
              },
              showlegend: false,
              xaxis: {
                autorange: true,
                rangeslider: {range: [keys[0], keys[keys.length-1]]},
                title: 'Date',
                type: 'date'
              },
              yaxis: {
                autorange: true,
                type: 'linear'
              },


            };

            Plotly.plot('plotly-div', data, layout);



          },
          dataType: 'json'
        })
      })
    })

  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Get Historic Stock Data</h1>
        <form action="{% url 'stock_market_sim_app:post_symbol' %}", method="POST">
          {% csrf_token %}
          <p>Stock Symbol: <input type="text" name="symbol" value="googl"></p>
          <p>Start Date: <input type="text" class="datepicker" value="03/15/2016" name="start"></p>
          <p>EndDate: <input type="text" class="datepicker" name="end" value="03/15/2017"></p>
          <p><input type="submit" value="Go!"></p>
        </form>
        <p id="data">
          <div id="plotly-div" style="width: 100%; height: 600px;">

          </div>

          <div id="myDiv" style="width: 100%; height: 600px;">

          </div>

          <pre id="test">

          </pre>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
